body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3B4664;
}

#calc {
    font-family: 'Inter';
    font-weight: 800;
    color: #FFFFFF;
    margin-right: 18.5vw;
    font-size: 1.2vw;
}

#display input {
    font-family: "Segoe UI", Arial, sans-serif;
    min-width: 10vw;
    text-align: end;
    font-size: 3.2vh;
    margin: 2vh 0;
    padding: 3vh 1vw 3vh 0;
    background-color: #181F32;
    border-radius: 8px;
    color: white;
    font-weight: 900;
    border: none;
}



#buttons {
    border: none;
    display: flex;
    flex-direction: column;
    background-color: #252D44;
    padding: 2.4vh ;
    border-radius: 8px;
    min-width: 20vw;
}





#buttons .row {
    margin: 0.8vh 0;
    min-width: 18vw;
}

#buttons button {
    font-family: 'Inter';
    font-weight: 800;
    margin:0 0.3vw;
    padding: 1vh 1vw;
    border: none;
    min-width: 4vw;
    border-radius: 8px;  
}

button:active{
    transform: translateY(2px);
}

#lng button {
    width: 9vw;
}

.grey {
    background-color: #647299;
    color: white;
}

.red {
    background-color: #D13F30;
    color: white;
}